.handle {
    background: white;
    border: 1px solid #b8babc;
    border-radius: 2px;
    height: 10px;
    position: absolute;
    width: 10px;
}
.handle:hover {
    background: #AA6ED5 ;
    border: 1px solid #AA6ED5;
}