.handle {
    background: white;
    border: 1px solid #b8babc;
    border-radius: 2px;
    height: 10px;
    position: absolute;
    width: 10px;
}
.handle:hover {
    background: #AA6ED5 ;
    border: 1px solid #AA6ED5;
}
.handle_tl {
    top: -5px;
    left: 0px;
    position: absolute;
}

.handle_tr {
    top: -5px;
    position: absolute;
    left: 100%;
}

.handle_bl {
    bottom: -5px;
    left: 0px;
    position: absolute;
}

.handle_br {
    bottom: -5px;
    position: absolute;
    left: 100%;
}

.handle_ml {
    left: -5px;
}

.handle_mr {
    right: -5px;
}

.handle_ml, .handle_mr {
    cursor: e-resize !important;
}

.handle_bl, .handle_tr {
    cursor: ne-resize !important;
}

.handle_bm, .handle_tm {
    cursor: n-resize !important;
}

.handle_br, .handle_tl {
    cursor: se-resize !important;
}
