.handle_tl {
    top: -5px;
    left: 0px;
    position: absolute;
}

.handle_tr {
    top: -5px;
    position: absolute;
    left: 100%;
}

.handle_bl {
    bottom: -5px;
    left: 0px;
    position: absolute;
}

.handle_br {
    bottom: -5px;
    position: absolute;
    left: 100%;
}